foo {
    display: none;
}

:host rect.d3chart-background {
  fill: rgba(250,250,250,0.8);
  color: limegreen;   color: limegreen;  color: limegreen;  color: limegreen;  color: limegreen;  color: limegreen;  color: limegreen;  color: limegreen;  color: limegreen;  
  border-radius: 3px;
  color: asa
}
