$font-family:      Helvetica Neue, Arial, Helvetica, sans-serif;
$paging-background-color:    black;
$thick-border:               8px solid black;
$dotted-border:              1px dotted #999999;
$fixed-font-family:'andale mono', 'lucida console', monospace;