.sidebar {
    margin-left: 600px;
    position: absolute;
    top: 0;
    right: 0;
}
----
@import 'aasd';

.sidebar .wrapper {
    font: 10px verdana, sans-serif;
    background: transparent url(paper-bg.jpg) top left repeat-y;
    padding: 10px;
    margin-top: 150px;
    width: 130px;
}

body {
    font: 75% georgia, sans-serif;
    line-height: 1.88889;
    color: #555753;
    background: #fff url(blossoms.jpg) no-repeat bottom right;
    margin: 0;
    padding: 0;
    background-image: -webkit-linear-gradient(top, start-color, end-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
    background-image: -moz-linear-gradient(top, start-color, end-color);
    background-image: linear-gradient(to bottom, start-color, end-color);
}
@each $animal, $color, $cursor in ((s, b), black, default),
                                  (sea-slug, blue, pointer),
                                  (egret, white, move) {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
    border: 2px solid $color;
    cursor: $cursor;
  }
}

$map: ( "prop": "val", -prop2: -val2 )